<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Record number:</strong>
  <%= @student.record_number %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p><strong>Registered Courses:</strong></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>CRN</th>
    <th>Name</th>
    <th>Professor</th>
    <th>Building</th>
    <th>Room</th>
    <th>Days</th>
    <th>Time</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
  <% @student.sections.each do |section| %>
      <td><%= section.crn %></td>
      <td><%= section.course.name %></td>
      <td><%= section.professor.last_name %></td>
      <td><%= section.building %></td>
      <td><%= section.room %></td>
      <td><%= section.days %></td>
      <td><%= section.start_time %> -<br>
        <%= section.end_time %></td>
      <td><%= section.start_date %> -<br>
        <%= section.end_date %></td>
  <% end %>
  </tbody>
</table>


<div class="btn-group">
  <%= link_to 'Edit', edit_student_path(@student), :class => 'btn btn-info' %>
  <%= link_to 'Back', students_path, :class => 'btn btn-default' %>
</div>