<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p><strong>Sections:</strong></p>
<table class="table table-striped">
  <thead>
  <tr>
    <th>CRN</th>
    <th>Name</th>
    <th>Professor</th>
    <th>Building</th>
    <th>Room</th>
    <th>Days</th>
    <th>Time</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
  <% @course.sections.each do |section| %>
      <tr>
        <td><%= section.crn %></td>
        <td><%= section.course.name %></td>
        <td><%= section.professor.last_name %></td>
        <td><%= section.building %></td>
        <td><%= section.room %></td>
        <td><%= section.days %></td>
        <td><%= section.start_time %> -<br>
          <%= section.end_time %></td>
        <td><%= section.start_date %> -<br>
          <%= section.end_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="btn btn-group">
  <%= link_to 'Edit', edit_course_path(@course), :class => 'btn btn-info' %>
  <%= link_to 'Back', courses_path, :class => 'btn btn-default' %>
</div>
